{% extends "base_template.html" %}

{% block title %}Using the data - Model insights{% endblock %}
{% block main_content %}

<form action="#" method="POST">
    <div class="row">
        <div class="col-6">
            <label class="form-check-label" for="ml_model_for_statistics">Choose ML model to get statistics:</label>
            <select class="form-select" name="ml_model_for_statistics">
                <option selected value="None">None</option>
                {% for ml_model in additional_args[2] %}
                    <option value="{{ml_model}}">{{ml_model}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary mt-3" name="submit_ml_model_for_statistics">Get statistics</button>
        </div>
    </div>
</form>

<br>
<br>

{% if additional_args[1] == "regression" %}
    <p class="text-start">MSE (Average of All squared errors) - The lower this number is, the better your model is:</p>
    <p class="text-start bg-info text-black">{{additional_args[0][0]}}</p>
    <p class="text-start">MAE (Average of All absolute errors) - The lower this number is, the better your model is. It is is the same unit and scale as your dataset:</p>
    <p class="text-start bg-info text-black">{{additional_args[0][1]}}</p>
    <p class="text-start">R2 (Variance in the predictions) - Is a value between 0 and 1. A value of 1 meens, that the model is perfect and a value of 0 means that the model will perform badly on an unseen dataset:</p>
    <p class="text-start bg-info text-black">{{additional_args[0][2]}}</p>
{% endif %}

{% if additional_args[1] == "category" %}
    <!-- My css for display_table -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/display_table.css')}}" />
    
    <p class="text-start">This table is the confusion matrix (Represents the prediction summary in matrix form) - It show how many predictions are correct and incorrect per class:</p>
    <p class="text-start">The first column and row create a matrix with all the classes. Reading the table per row: It shows the values of the actual class (row - first column '-'') and as to what it was predicted (column name)</p>
    <p class="text-start">The last row shows the sum oper column. The column Error shows the amount of errors that were made in the classification. The smaller the better. The column Rate shows the Error rate: [errors made] / [predictions made]</p>
    <p class="text-start">The value on the bottom right shows the total error rate. The lower this number, the better. If you want the accuracy, just subtract this number from 1 (and in percent). e.g. 3/7 --> 1 - 3/7 = 4/7 --> 4/7 * 100 =~ 57% accuracy</p>
    
    <table id="data" class="table table-dark table-striped display_table">
        <thead>
            <tr>
                {% for column_name in additional_args[0][0].keys() %}
                <th>{{column_name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for entry in additional_args[0] %}
            <tr>
                {% for column_name in entry %}
                <td>{{ entry[column_name] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        // Display tables functionality
        $(document).ready(function () {
            $(".display_table").DataTable();
        });
    </script>
{% endif %}



{% endblock %}