{% extends "base_template.html" %}

{% block title %}Data preparation{% endblock %}
{% block main_content %}

<h3>Change configs of the current active file:</h3>
<form action="#" method="POST">
  {% for arg_option in additional_args[0] %}
  {% if "value" in additional_args[1][arg_option] %}
    <div class="row g-3 align-items-center mb-3">
      <div class="col-1">
        <label for="{{arg_option}}" class="col-form-label">{{arg_option}}</label>
      </div>
      <div class="col-auto">
        <input type="{{additional_args[1][arg_option]['bootstrap_input_type']}}" id="{{arg_option}}" name="{{arg_option}}" class="form-control {{additional_args[1][arg_option]['bootstrap_class']}}"
        {% if additional_args[1][arg_option]["bootstrap_input_type"] == "checkbox" %} 
          {% if additional_args[1][arg_option]["value"] %}
            checked
          {% endif %}
        {% else %} 
          value="{{additional_args[1][arg_option]['value']}}"
        {% endif %}
        />
      </div>
    </div>
  {% endif%}
  {% endfor %}
  <button type="submit" class="btn btn-warning mt-1">Change configs</button>
</form>  

{% endblock %}