{% extends "base_template.html" %}

{% block title %}Data preparation - Automatic preparation{% endblock %}
{% block main_content %}

<!-- My js for display_table -->
{#
<script src="{{ url_for('static', filename='js/manual_repairing.js')}}" type="text/javascript"></script> #}

<form action="#" method="POST" class="mb-3">
    <div class="row mb-3 g-3">
        <div class="col-6">
            <h3>Fully automated data preparation approach:</h3>
            <div class="mt-1">
                <label class="form-label">This automatically prepares, selects and uses data preparation techniques on its own:</label>
            </div>
            <button type="submit" class="btn btn-info mt-3" name="submit_automatically_prepare_preview" value="true">Automatically prepare (preview)</button>
            <button type="submit" class="btn btn-warning mt-3" name="submit_automatically_prepare" value="true">Automatically prepare</button>
        </div>
        <div class="col-6">
            <h3>Semi automated data preparation approach:</h3>
            <div class="form-check col-auto mt-1">
                <input checked type="checkbox" class="form-check-input" name="semi_automated_option_duplicates" id="semi_automated_option_duplicates">
                <label class="form-check-label" for="semi_automated_option_duplicates">Remove duplicates</label>
            </div>
            <div class="form-check col-auto mt-1">
                <input checked type="checkbox" class="form-check-input" name="semi_automated_option_missing_num" id="semi_automated_option_missing_num">
                <label class="form-check-label" for="semi_automated_option_missing_num">Impute missing numbers</label>
            </div>
            <div class="form-check col-auto mt-1">
                <input checked type="checkbox" class="form-check-input" name="semi_automated_option_missing_categ" id="semi_automated_option_missing_categ">
                <label class="form-check-label" for="semi_automated_option_missing_categ">Impute missing categories (and text)</label>
            </div>
            <div class="form-check col-auto mt-1">
                <input checked type="checkbox" class="form-check-input" name="semi_automated_option_encode_categ" id="semi_automated_option_encode_categ">
                <label class="form-check-label" for="semi_automated_option_encode_categ">Encode categories (and text)</label>
            </div>
            <div class="form-check col-auto mt-1">
                <input checked type="checkbox" class="form-check-input" name="semi_automated_option_extract_datetime" id="semi_automated_option_extract_datetime">
                <label class="form-check-label" for="semi_automated_option_extract_datetime">Extract dates</label>
            </div>
            <div class="form-check col-auto mt-1">
                <input checked type="checkbox" class="form-check-input" name="semi_automated_option_outliers" id="semi_automated_option_outliers">
                <label class="form-check-label" for="semi_automated_option_outliers">Handle outliers</label>
            </div>
            <button type="submit" class="btn btn-info mt-3" name="submit_semi_automated_prepare_preview" value="true">Semi automatically prepare (preview)</button>
            <button type="submit" class="btn btn-warning mt-3" name="submit_semi_automated_prepare" value="true">Semi automatically prepare</button>
        </div>

    </div>
</form>

{% if additional_args[1] %}
    <div id="get_prepared_table" style="visibility: hidden;"></div>
{% endif %}

{% include "table_display_include.html" %}

{% endblock %}