{% extends "base_template.html" %}

{% block title %}Data preparation - Capping{% endblock %}
{% block main_content %}

<h3>Input lower and upper limit for data</h3>
<form action="#" method="POST" class="mb-3">
  <div class="row mb-3">
    <div class="col-5">
        <label for="lower_limit" class="form-label">Lower limit to cap</label>
        <input type="number" class="form-control" name="lower_limit" id="lower_limit" value="{{ request.form['lower_limit'] }}">
    </div>
    <div class="col-5">
        <label for="upper_limit" class="form-label">Upper limit to cap</label>
        <input type="number" class="form-control" name="upper_limit" id="upper_limit" value="{{ request.form['upper_limit'] }}">
    </div>
    <div class="col-2">
        <label for="capping_type" class="form-label">Capping type</label>
        <select id="capping_type" name="capping_type" class="form-select">
            <option {% if request.form['capping_type'] == 'replace' %}selected{% endif %} value="replace">Replace value beyond the limit with the limit</option>
            <option {% if request.form['capping_type'] == 'remove' %}selected{% endif %} value="remove">Remove values beyond the limit</option>
        </select>
    </div>
  </div>
  
  <button type="submit" class="btn btn-info" name="submit_preview" value="true">Change limits (preview)</button>
  <button type="submit" class="btn btn-warning" name="submit_permanent" value="true">Change limits (permanent)</button>
  
  <div class="col-12 mb-3 mt-3">
        <label for="column_prepare" class="form-label">Column to prepare:</label>
        <select id="column_prepare" class="form-select" name="column_prepare" onchange="construct_new_graph(this.value)">
            <option>None</option>
            {# {% if additional_args[3] %}
                {% for key, value in additional_args[3].items() %}
                    {% if value == "string" %}
                        <option {% if request.form['filter_column_string'] == key %}selected{% endif %} value="{{key}}">{{key}}</option>
                    {% endif %}
                {% endfor %}
            {% endif %} #}

            {% if additional_args[3] %}
                {% for column_name in additional_args[3].keys() %}
                    {% if additional_args[3][column_name] in ["Int64", "Float64"] %}
                        <option {% if request.form['column_prepare'] == column_name %}selected{% endif %}>{{column_name}}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <option hidden>Not available for this graph type</option> <!-- So that js can set it to this -->
        </select>
    </div>
  {% include "data_preparation_comparison_include.html" %}
</form>

{% endblock %}