{% extends "base_template.html" %}

{% block title %}Data preparation - Transpose{% endblock %}
{% block main_content %}

<form action="#" method="POST" class="mb-3">
    <button type="submit" class="btn btn-info mb-3" name="submit_reset" value="true">Show current</button>
    <button type="submit" class="btn btn-info mb-3" name="submit_preview" value="true">Transpose (preview)</button>
    <button type="submit" class="btn btn-warning mb-3" name="submit_permanent" value="true">Transpose (permanent)</button>
</form>

{% include "table_display_include.html" %}

{% if additional_args[1] %}
<div id="get_prepared_table"></div>
{% endif %}


{% endblock %}