<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Paul Pavlis">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <!-- My css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css')}}" />

</head>

<body>
    <div class="container mt-3">

        <!-- Navbar start -->
        <ul class="nav nav-pills nav-fill mb-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-3">
            <li class="nav-item {% if main_navbar_active == 'home' %}bg-info-subtle border border-info-subtle rounded-3{% endif %}">
                <a class="nav-link" href="{{ url_for('home')}}">Home</a>
            </li>

            <li class="nav-item {% if main_navbar_active == 'data_selection' %}bg-info-subtle border border-info-subtle rounded-3{% endif %}">
                <a class="nav-link" href="{{ url_for('data_selection.home')}}">Data Selection</a>
            </li>

            <li class="nav-item dropdown {% if main_navbar_active == 'data_exploration' %}bg-info-subtle border border-info-subtle rounded-3{% endif %}">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Data exploration</a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{{ url_for('data_exploration.home')}}">Interesting details</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Visual exploration</a></li>
                    <li><a class="dropdown-item" href="#">Manual exploration</a></li>
                </ul>
            </li>


            <li class="nav-item dropdown {% if main_navbar_active == 'data_preparation' %}bg-info-subtle border border-info-subtle rounded-3{% endif %}">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Data preparation</a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{{ url_for('data_preparation.home')}}">Home</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Method 1</a></li>
                    <li><a class="dropdown-item" href="#">Method 2</a></li>
                    <li><a class="dropdown-item" href="#">Method 3</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown {% if main_navbar_active == 'using_the_data' %}bg-info-subtle border border-info-subtle rounded-3{% endif %}">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Using the
                    data</a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{{ url_for('using_the_data.home')}}">Output to file</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">AutoML solution 1</a></li>
                    <li><a class="dropdown-item" href="#">AutoML solution 2</a></li>
                    <li><a class="dropdown-item" href="#">AutoML solution 3</a></li>
                </ul>
            </li>
            </ul>
        <!-- Navbar end -->

        <!-- Message flashing -->
        {# {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in message %}
                    <p>{{msg}}</p>
                {% endfor %}
                
            {% endif %}
        {% endwith %} #}

        {% if sub_navbar_list %}
            <ul class="nav nav-pills nav-justified mb-3">
                {% for navbar_entry in sub_navbar_list %}
                    <li class="nav-item text-light-emphasis border border-light-subtle rounded-3 m-1 {% print('bg-primary-subtle') if navbar_entry == sub_navbar_active %}">
                        <a class="nav-link" href="{{navbar_entry}}">{{navbar_entry}}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Main content block for child templates to write to -->
        {% block main_content %}
        {% endblock %}
        

    </div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>

</html>