<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- My js for visual_exploration -->
<script src="{{ url_for('static', filename='js/data_preparation_comparison_include.js')}}" type="text/javascript"></script>

<div class="row align-items-center">
    <div class="col-12 mb-3 mt-3">
        <label for="column_prepare" class="form-label">Column to prepare:</label>
        <select id="column_prepare" class="form-select" name="column_prepare" onchange="construct_new_graph()">
            <option>None</option>
            {% if additional_args[0] %}
                {% for column_name in additional_args[0][0].keys() %}
                <option {% if request.form['column_prepare'] == column_name %}selected{% endif %}>{{column_name}}</option>
                {% endfor %}
            {% endif %}
            <option hidden>Not available for this graph type</option> <!-- So that js can set it to this -->
        </select>
    </div>
    {# <div class="col-2">
        <p class="text-center">count</p>
    </div>
    <div class="col-2">
        <p class="text-center">unique</p>
    </div>
    <div class="col-2">
        <p class="text-center">min</p>
    </div>
    <div class="col-2">
        <p class="text-center">mean</p>
    </div>
    <div class="col-2">
        <p class="text-center">median</p>
    </div>
    <div class="col-2">
        <p class="text-center">max</p>
    </div> #}
    <div class="col-6">
        <div id="chart_before" class="chart mt-3"></div>
    </div>
    <div class="col-6">
        <div id="chart_after" class="chart mt-3"></div>
    </div>
</div>

{% if additional_args[1] %}
    <script>
    $(document).ready(function () {
        construct_before_and_after();
    });
    </script>
{% endif %}