<!-- Inspiration from: https://blog.miguelgrinberg.com/post/beautiful-interactive-tables-for-your-flask-templates -->
<table id="data" class="table table-dark table-striped table-hover table-responsive">
    <thead>
        <tr>
            {% if additional_args[0] %}
                {% for column_name in additional_args[0][0].keys() %}
                    <th>{{column_name}}</th>
                {% endfor %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if additional_args[0] %}
            {% for entry in additional_args[0] %}
                <tr>
                    {% for column_name in entry %}
                    <td>{{ entry[column_name] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>