{% extends "base_template.html" %}

{% block title %}Data exploration - Visual exploration{% endblock %}

{% block main_content %}

<!-- Inspired by https://github.com/alanjones2/Flask-Plotly/tree/main/plotcallback-gm2 -->

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- My js for visual_exploration -->
<script src="{{ url_for('static', filename='js/visual_exploration.js')}}" type="text/javascript"></script>

<form id="graph_form" class="row g-2">
    <div class="col-md-12">
        <label for="graph_type" class="form-label">Graph type</label>
        <select id="graph_type" class="form-select" onchange="construct_new_graph(); make_column_selects_available();">
            <option selected>Histogram</option>
            <option>Pie Chart</option>
            <option>Scatter Plot</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="column_1" class="form-label">Column 1</label>
        <select id="column_1" class="form-select" onchange="construct_new_graph()">
            <option selected>None</option>
            {% for column_name in additional_args[0][0].keys() %}
            <option>{{column_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-6">
        <label for="column_2" class="form-label">Column 2</label>
        <select id="column_2" class="form-select" onchange="construct_new_graph()">
            {# <option selected>Currently disabled</option> #}
            <option selected>None</option>
            {% for column_name in additional_args[0][0].keys() %}
            <option>{{column_name}}</option>
            {% endfor %}
            <option hidden>Not available for this graph type</option> <!-- So that js can set it to this -->
        </select>
    </div>
    <div id="chart" class="chart mt-3"></div>
</form>

{% endblock %}